
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@500&family=Edu+TAS+Beginner:wght@500&family=Lora:wght@400;500&family=Merriweather&family=Playfair+Display:ital@1&family=Poppins:ital@1&family=Roboto:ital@1&display=swap');
body {
    background-image: url('/static/flow.jpg'); /* Replace with your image path */
    background-size: cover;
    background-repeat: no-repeat; /* Prevent the background from repeating */
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: flex-start;
    align-items: center;
}


html, body {
    height: 100%;
}

form{
    position: absolute;
    width: 500px;
    height: 500px;
    padding: 30px;
}

.form-step{
    display: block;
    margin-bottom: 10px; 
    width: 60%;
    height: 300px;
    padding: 30px;
    overflow: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


.form-step {
    position: relative;
    width: 100%;
  }
  
  input[type=text] {
    width: 100%;
    margin-top: 50px;
    margin-bottom: 20px;
    padding: 20px;
    margin-left: 10px;
    box-sizing: border-box;
    border: none;
    border-bottom: 3px solid white;
    background: transparent;
    outline: 0;
    transition: border-bottom-color 0.3s ease-in-out;
    font-size: 25px;

  }
  
  label {
    color: #F9F5F6;
    position: absolute;
    margin-top: 20px;
    margin-left: 20px;
    top: 20%;
    font-family: 'Roboto', sans-serif;
    left: 20px;
    font-size: 30px;
    padding-bottom: 20px ;
    transition: top 0.3s ease-in-out, font-size 0.3s ease-in-out, color 0.3s ease-in-out;
  }
  
  input[type=text]:focus, input[type=text]:valid {
    border-radius: 10px;
    background: #F9F5F6;

}

input[type=text]:focus + label, input[type=text]:valid + label {
    top: 0;
    font-size: 25px;
    color: #F9F5F6;
}


button{
    width: auto;
	background: #FDCEDF;
	color: black;
	border: 0 none;
	border-radius: 5px;
	cursor: pointer;
	padding: 15px;
	margin: 20px;
  margin-left: 10px;
    text-align: center;
    font-family: 'Lora', serif;
    text-decoration: none;
    font-size: 25px;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

button:hover, button:focus {

        background: transparent;
        color: #f4c2c2;
    
}

input[type=submit] {
    width: auto;
	background: #FDCEDF;
	color: black;
	border: 0 none;
	border-radius: 5px;
	cursor: pointer;
	padding: 15px;
	margin: 20px;
    text-align: center;
    font-family: 'Lora', serif;
    text-decoration: none;
    font-size: 25px;
    -webkit-transition: all 150ms ease-in-out;
    transition: all 150ms ease-in-out;
}

input[type=submit]:hover {
    background: transparent;
    color: #f4c2c2;
}


/* Your existing CSS styles */

.response-container {
    max-width: 600px;
    margin: 0 auto;
    padding: 20px;
    background-color: #F9F5F6;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-top: 20px;
    border-radius: 10px ;
    font-family: 'Poppins', sans-serif;
    text-align: justify;
    text-justify: inter-word;
}

.response-container p{
    font-size: 30px;


}


/* Styles for larger screens using a media query */

@media only screen and (max-width:300px ) {
  label{
    font-size: 20px;
  }
  input[type=text]:focus + label, input[type=text]:valid + label {
    font-size: 20px;
  }
  .response-container p{
    font-size: 15px;

}

.response-container{
  margin: 20px;

}



}


@media only screen and (min-width:300px ) and (max-width: 419px) {
  /* Adjustments for screens wider than 1024px (e.g., small desktops) */
  body{
    background-image: url('/static/flow400.jpg');
  }

  .form-step{
    top: 20%;
  }

  input[type=text]{
    width: 60%;
    display: block;
  }

  button{
    font-size: 15px;
  }

  label{
    font-size: 20px;
  }

  input[type=text]:focus + label, input[type=text]:valid + label {
    font-size: 20px;
  }

  .response-container p{
    font-size: 15px;

}

.response-container{
  margin: 20px;

}

}



@media only screen and (min-width:420px ) and (max-width: 599px) {
  /* Adjustments for screens wider than 1024px (e.g., small desktops) */
  body{
    background-image: url('/static/flow420.jpg');
  }

  .form-step{
    top: 10%;
  }

  label{
    font-size: 25px;
  }

  input[type=text]{
    width: 70%;
    display: block;
  }
  button{
    font-size: 20px;
  }

  input[type=text]:focus + label, input[type=text]:valid + label {
    font-size: 20px;
  }


  .response-container p{
    font-size: 20px;

}

.response-container{
  margin: 20px;

}

}


@media only screen and (min-width: 600px) and (max-width: 767px) {
    /* Adjustments for screens wider than 600px */
    body{
      background-image: url('/static/flow600.jpg');
    }

    .form-step{
      top: 20%;
    }

    label{
      font-size: 25px;
    }

    input[type=text]{
      width: 80%;
    }

    button{
      font-size: 20px;
    }


    .response-container p{
      font-size: 20px;
  
  }
  
  .response-container{
    margin: 20px;
  
  }

  }
  
  @media only screen and (min-width: 768px) and (max-width: 991px) {
    /* Adjustments for screens wider than 768px (e.g., tablets) */
    body{
      background-image: url('/static/flow768.jpg');
    }
    .form-step{
      top: 20%;
    }

    input[type=text]{
      width: 80%;
    }

    .response-container p{
      font-size: 25px;
  
  }

  }
  
  @media only screen and (min-width:992px ) and (max-width: 1024px) {
    /* Adjustments for screens wider than 1024px (e.g., small desktops) */
    body{
      background-image: url('/static/flow992.jpg');
    }

    .form-step{
      top: 30%;
    }

    input[type=text]{
      width: 80%;
    }
  }

  @media only screen and (min-width:1024px ) and (max-width: 1400px) {
    /* Adjustments for screens wider than 1024px (e.g., small desktops) */
    body{
      background-image: url('/static/flow1024.jpg');
    }

    .form-step{
      top: 40%;
    }
  }
